server:
  port: 8080
  servlet:
    context-path: /transparency-portal
    session:
      persistent: false
  error:
    whitelabel:
      enabled: false

spring:
  application:
    name: transparency-portal
  profiles: 
      active: dev
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
